body{
   background-image: url(../../Users/User/Downloads/pexels-photo-1939485.jpeg);
}

h1{
    position: sticky;
    top: 0;
    margin-top: auto;
    padding: 5px;
    text-align: left;
    color: white;
    font-size: 800%;
    background-color: rgb(255, 0, 0);
}
.column {
    float: left;
    width: 33,33%;
    padding: 6px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.row{
    content: "";
    clear: both;
    display: flex;
    justify-content: center;
}
h3{
    padding-top: 0px;
    margin-top: 1px;
    font-size: 55px;
    color: blue;
}
h6{
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    color: rgb(255, 0, 0);
}
.desc1, .desc2, .desc3 {
    text-align: justify;
    font-size: 35px;
}
.container {
    border-color: #f9f9f1;
    border: 3px solid #ff0000 ;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px 3px grey;
    padding: 180px;
    margin: auto;
    margin-bottom: 30px;
    width: 1500px;
    height: 1200px;
}

